/* HERO */

.text-justify {
  text-align: justify;
}

/* .hero-image-box { */
/* clip-path: polygon(0% 0%, 100% 0%, 100% 89%, 46.5% 89%, 41% 100%, 0% 100%);
  border-radius: 30px; */
/* clip-path: path(
    "M781.512 857.5H30.5C13.9315 857.5 0.5 844.069 0.5 827.5V30.5C0.5 13.9315 13.9315 0.5 30.5 0.5H1890.5C1907.07 0.5 1920.5 13.9315 1920.5 30.5V744.452C1920.5 761.02 1907.07 774.452 1890.5 774.452H889.982C885.077 774.452 880.343 776.254 876.68 779.517L794.814 852.435C791.151 855.697 786.417 857.5 781.512 857.5Z"
  ); */

/* clip-path: url("/assets/images/clip.svg#heroClip"); */

/* overflow: hidden; */
/* } */

.heroSection {
  position: relative;
}

.hero-image-box {
  width: 100%;
  height: 100vh;
  border-radius: 30px;
  overflow: hidden;
  /* -webkit-mask-image: url("/assets/images/heroClip1.svg");
  mask-image: url("/assets/images/heroClip1.svg");
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat; */
}

.search-bar-wrapper {
  z-index: 10;
  width: 56.5%;
  padding: 15px;
  position: absolute;
  bottom: 0;
  right: 10px;
}

.search-bar-wrapper #formshape {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  right: 0;
  z-index: 1;
}
.search-bar-wrapper #formshapebg {
  position: absolute;
  bottom: 0;
  right: 0px;
  /* width: 100%; */
  /* height: 100%; */
  width: 105%;
  height: 135px;
}

.search-bar-wrapper .row {
  position: relative;
  z-index: 1;
}

.object-fit-cover {
  object-fit: cover;
}

input::placeholder {
  color: #999;
  font-size: 0.9rem;
}

.custom-select__control {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
  min-height: 38px;
}

.custom-select__value-container {
  padding: 0 !important;
}

.custom-select__indicator-separator {
  display: none;
}

.custom-select__dropdown-indicator {
  padding: 4px;
}

.custom-select__menu {
  border-radius: 8px;
  overflow: hidden;
}

.custom-select__option--is-focused {
  background-color: #f1f3f5 !important;
}

.custom-select__option--is-selected {
  background-color: #212529 !important;
}

.search-bar-wrapper svg {
  color: #000 !important;
}

.custom-select__indicator svg {
  stroke: #fff;
  stroke-width: 1px;
}

.search-bar-wrapper .row > div {
  border-color: #000 !important;
}

/* HERO */

/* CATEGORY BUTTONS */

.category-btn {
  padding: 8px 18px;
  border-radius: 6px;
  border: 1px solid #ccc;
  color: #888;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-size: 12px;
}

.category-btn.active {
  background-color: #2d2d2d;
  color: #fff;
  border-color: #2d2d2d;
}

/* CATEGORY BUTTONS */

/* HOME PROJECTS */

.project-section .card h5 {
  font-family: "Inter";
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px;
}

.project-section .card span.badge,
.tags-wrapper .badge {
  background: transparent;
  border-radius: 4px;
  padding: 8px;
  border: 1px solid #9f9f9f;
  color: #9f9f9f;
  font-weight: 400;
}

.project-section .card {
  background: #f3f3f3;
}

.project-section .card .card-body {
  padding: 25px 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.project-section .card .action-btns {
  text-transform: uppercase;
  background: #fff;
  border: 0;
  border-radius: 6px;
  width: 100%;
  padding: 10px 20px;
  font-family: Aileron;
  font-weight: 600;
  transition: 0.4s ease all;
}

.project-section .card .action-btns:hover {
  filter: invert(1) brightness(1.5);
}

.project-section {
  position: relative;
}

.project-section .swiper-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  background: transparent;
  border: none;
  cursor: pointer;
}

.project-section .swiper-nav-left {
  left: -110px;
}

.project-section .swiper-nav-right {
  right: -110px;
}

.project-section .swiper-nav:hover svg path {
  stroke: #000;
}

/* HOME PROJECTS */

/* SMART CARDS */

.smartcard-section .ico-box-wrapper .icon-box {
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 80px 20px;
  display: flex;
  position: relative;
  margin-bottom: 28px;
}

.smartcard-section .ico-box-wrapper .icon-box svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.smartcard-section .ico-box-wrapper .icon-box img {
  position: relative;
  width: 177px;
  height: 177px;
  z-index: 1;
  object-fit: contain;
}

.smartcard-section .ico-box-wrapper:nth-child(2) .icon-box img {
  height: 219px;
}

.smartcard-section .ico-box-wrapper .feature-title {
  font-family: "Inter";
}

.smartcard-section .ico-box-wrapper .feature-desc {
  padding-right: 40px;
}

.smartcard-section {
  background: #f6f6f6;
}

/* SMART CARDS */

/* LOCATION CARDS */

.location-grid {
  column-count: 4;
  column-gap: 20px;
  direction: rtl;
}

.location-card {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.location-card .featured-img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  transition: 0.7s ease all;
}

.location-card .card-face-1 {
  position: relative;
}

.location-card .card-face-1 h4 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  text-transform: uppercase;
  font-size: 18px;
  transition: 0.6s ease all;
  z-index: 2;
}

.location-card img.arrow-tilt {
  position: absolute;
  top: 20px;
  right: 20px;
  transition: 0.3s ease all;
  z-index: 2;
}

.location-card .card-face-2 {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  opacity: 0;
  transition: 0.5s ease all;
}

.location-card .card-face-2 h4 {
  font-size: 18px;
}

.location-card .portable-text {
  color: #fff;
  font-weight: 300;
}

.location-card:hover .card-face-2 {
  opacity: 1;
  background: rgba(46, 46, 46, 0.9);
}

.location-card:hover .card-face-2 img.arrow-tilt {
  opacity: 1;
}

.location-card:hover .card-face-1 h4,
.location-card:hover .card-face-1 img.arrow-tilt {
  opacity: 0;
}

.location-card:hover .featured-img {
  transform: scale(1.1);
}

/* LOCATION CARDS */

/* STAY BG */

.stay-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
}

svg#shape-circle {
  position: absolute;
  left: -200px;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
}

svg#shape-s {
  position: absolute;
  left: -20px;
  top: 44%;
  transform: translateY(-50%);
  height: auto;
  opacity: 0.5;
}

svg#shape-tay {
  position: absolute;
  right: -100px;
  top: 50%;
  transform: translateY(-50%);
  height: auto;
  opacity: 0.5;
}

/* STAY BG */

/* CONTENT SECTION */

.content-section {
  background: #f6f6f6;
}

a.plain-btn {
  font-family: "Inter";
  text-transform: uppercase;
  color: #2e2e2e;
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
  transition: color 0.3s ease;
}

a.plain-btn span {
  margin-left: 12px;
  display: inline-block;
  transition: transform 0.3s ease;
}

a.plain-btn:hover {
  color: #000;
}

a.plain-btn:hover span {
  transform: translateX(6px);
}

/* CONTENT SECTION */

/* OFFPLAN SECTION */

.offplan-projects {
  position: relative;
}

.offplan-projects span.badge {
  color: #9f9f9f;
  background: #fff;
  border: 1px solid #9f9f9f;
  border-radius: 4px;
  padding: 8px;
  font-weight: 400;
}

.offplan-projects .tags {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  margin: 0 auto;
}

/* OFFPLAN SECTION */

/* FEATURE CIRCLE */

/* Circle styling */

.feature-row {
  display: flex;
  gap: 25px;
}

.feature-row .feature-circle:before {
  content: "";
  border: 1px solid #ddd;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 100%;
  transform: scale(1.12);
}

.feature-row .feature-circle {
  position: relative;
}

.feature-circle {
  width: 371px;
  height: 370px;
  border-radius: 50%;
  transition: all 0.3s ease;
  background: #fff;
}

.feature-circle p {
  padding: 1.5rem;
}

.brands-logo-wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.brands-logo-wrapper .brand-card-wrapper {
  border: 1px solid #e7e7e7;
  width: 270px;
  height: 120px;
  text-align: center;
  padding: 30px 35px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FEATURE CIRCLE */

/* BLOG SECTION */

.blogs-section {
  background: #f6f6f6;
}

/* BLOG SECTION */

/* FAQ SECTION */

.faq-section {
  background: #f5f5f5;
}

.custom-accordion {
  counter-reset: accordion-counter;
  border: 1px solid #757575;
  border-left: 0;
  position: relative;
  border-bottom-right-radius: 20px;
}

.custom-accordion .accordion-item {
  counter-increment: accordion-counter;
  border: 0;
}

.custom-accordion .accordion-button:after {
  content: counter(accordion-counter, decimal-leading-zero);
  background: none;
  width: auto;
  height: auto;
  margin-top: 80px;
  margin-left: auto;
  font-family: Aileron;
  font-size: 64px;
  font-weight: bold;
  transform: none;
  position: absolute;
  right: 40px;
  top: 0;
  z-index: 9;
  zoom: 0.9;
}

.accordion-button:not(.collapsed) {
  background: transparent;
  color: currentColor;
}

.accordion-button:focus {
  box-shadow: none;
}

.custom-accordion .accordion-button {
  position: relative;
  height: 80px;
  display: block;
}

.accordion-button:not(.collapsed) {
  box-shadow: unset;
}
.accordion-body {
  /* padding-top: 80px; */
  position: relative;
  width: 60%;
  padding-top: 0;
  padding-bottom: 12px;
}

.accordion-body a {
  font-weight: 600;
}

.accordion-button {
  font-size: 18px;
  font-weight: 600;
  font-family: "Inter";
  text-transform: uppercase;
}

.accordion-item:not(:first-child) .accordion-button::before {
  content: "";
  background: url(/assets/images/faq-border.svg) 0 0 / 100% no-repeat;
  width: 94%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 20px;
  right: 0;
  z-index: 1;
}

.custom-accordion:after {
  content: "";
  background: url(/assets/images/faq3.svg) 0 0 / contain no-repeat;
  position: absolute;
  z-index: 99;
  width: 230px;
  height: 100%;
  top: 0;
  right: 0;
  text-align: right;
  margin-right: auto;
  top: -27px;
  right: -2px;
}

.accordion-item:last-child {
  min-height: 162px;
  border-bottom-right-radius: 20px;
}

img#faq-bg {
  position: absolute;
  right: 0;
  width: 40%;
  bottom: -100px;
}

/* FAQ SECTION */

/* DEFAULT SLIDER NAVIGAITON AND PAGINATION */

.default-navi .swiper-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 20;
  background: transparent;
  border: none;
  cursor: pointer;
}

.default-navi .swiper-nav-left {
  left: -110px;
}

.default-navi .swiper-nav-right {
  right: -110px;
}

.default-navi .swiper-nav:hover svg path {
  stroke: #000;
}

.default-navi .swiper:has(.swiper-pagination) {
  padding-bottom: 40px;
}

.default-navi .swiper:has(.swiper-pagination) .swiper-pagination-bullet {
  border-radius: 0;
  height: 3px;
  width: 11px;
  border-radius: 30px;
}

.default-navi .swiper:has(.swiper-pagination) .swiper-pagination-bullet-active {
  background: #2e2e2e;
}

/* DEFAULT SLIDER NAVIGAITON AND PAGINATION */

/* BUY PAGE */

.listing .position-relative img {
  border-radius: 25px !important;
  max-height: 480px;
}

.listing .project-section .card .card-body {
  padding: 72px 50px;
}

.listing .project-section .card .card-body p {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* max 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 0 !important;
}

.action-btns-wrapper {
  border: 1px solid #d4d4d4;
  border-left: 0;
  border-right: 0;
  padding: 15px 0;
  margin-bottom: 15px;
}

.card.small h3 {
  display: none;
}

.card.small p.small {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* max 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.project-section .mt-4.col-12.col-md-6.col-lg-4 .card-body {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 25px 30px;
}

.project-section .mt-4.col-12.col-md-6.col-lg-4 .card {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.card h5,
.card p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  /* fallback for consistent height */
  line-height: 1.4;
  min-height: calc(1.4em * 2); /* 2 lines */
}

.project-section .mt-4.col-12 .card {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.tags-wrapper {
  margin-top: 10px;
}

.project-section .mt-4.col-12.col-md-6.col-lg-4 .card-body h3 {
  display: block;
}

/* MORTGAGE CALCULATOR */

.mortgage-box {
  background: #f3f4f6;
  padding: 40px;
  border-radius: 6px;
}

/* TITLE (only variant 1) */
.calc-title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 30px;
}

.mortgage-box label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
}

.calc-input {
  position: relative;
}

.calc-input input {
  width: 100%;
  height: 48px;
  padding: 0 60px 0 12px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  background: #fff;
}

.calc-input span {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #2858AB;
  font-weight: 600;
}

/* FOOTER DEFAULT */
.calc-footer {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* VARIANT 2 FOOTER */
.variant-2-footer {
  justify-content: space-between;
  align-items: center;
}

/* TEXT */
.monthly-label {
  font-size: 12px;
  text-transform: uppercase;
  color: #6b7280;
}

.monthly-value {
  font-size: 32px;
  font-weight: 700;
  color: #2f5aa8;
}

/* BUTTON */
.consult-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 16px 30px;
  border-radius: 8px;
  font-weight: 600;
  min-width: 260px;
}

.consult-btn:hover {
  background: #111;
}

.mortgage-box.variant-2 {
  background: transparent;
  padding: 0;
  margin-top: 50px;
}

.rc-slider-handle {
  border: 2px solid #000000;
  opacity: 1;
}

.rc-slider-track,
.rc-slider-tracks {
  background-color: #000;
}

/* MORTGAGE CALCULATOR */

/* BUY PAGE */

/* DETAIL PAGE */

#lightgallery a > img {
  width: 100%;
}

#lightgallery .gallery-buttons a > img {
  width: 15px;
  filter: brightness(4) invert(1);
}

#lightgallery .gallery-buttons {
  margin-top: -65px !important;
  margin-left: 25px;
}

#lightgallery .gallery-buttons a {
  background: #fff;
  border-color: #fff;
  color: #000;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 50px;
}

#lightgallery .col-md-8.gallery-image a.g-img img {
  height: 565px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}

#lightgallery .col-md-4 .gallery-image a.g-img img {
  height: 274px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
}

.info-block h3 {
  color: #2858ab;
}

.data-block {
  margin-top: 30px;
  background: #f6f6f6;
  border-radius: 12px;
  padding: 30px;
}

.amenities-list {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.amenities-list .amenitiy-block {
  max-width: 33.33%;
}

.amenities-list .amenitiy-block .title {
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 500;
  margin-top: 10px;
}

/* DETAIL PAGE */
