/* For Bootstrap Container Reszie  */
@media(max-width:1200px) {
  @media (min-width: 576px) {
    .container {
      max-width: 100%;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 95%;
    }
  }

  @media (min-width: 992px) {
    .container {
      max-width: 95%;
    }
  }
}


/* Reponsive Start */

@media(max-width:1440px) {

  .sec-padding {
    &.\--large {
      padding: 80px 0;
    }

    &.\--xlarge {
      padding: 100px 0;
    }

    &.\--xxlarge {
      padding: 120px 0;
    }
  }


  .sec-title.--is-medium {
    max-width: 75%;
  }

  header .header-menu>.menu-wrapper>li {
    font-size: 12px;
  }

  header .header-actions .header-action {
    font-size: 12px;
  }

  .footer-sec .footer-logo img {
    max-width: 120px;
  }
}

@media(max-width:1200px) {
  .insight-detail-sec .contentbox {
    max-width: 70%;
    margin-top: -40px;
  }
}

@media (max-width: 991px) {

  .sec-padding {
    padding: 60px 0;

    &.\--large {
      padding: 60px 0;
    }

    &.\--xlarge {
      padding: 80px 0;
    }

    &.\--xxlarge {
      padding: 100px 0;
    }
  }


  .sec-title.--is-medium {
    max-width: 100%;
  }

  .sec-title.one-row .leftbox {
    max-width: 70%;
  }

  .sec-title.is-tb-space {
    margin-bottom: 40px;
  }

  .form-wrapper.has-right-space {
    max-width: 100%;
  }

  header .header-menu {
    display: none;
  }

  .hero-image-box {
    clip-path: none;
    height: 400px;
    border-radius: 20px;
  }

  .search-bar-wrapper {
    position: relative;
    width: 100%;
    margin-top: 20px;
    height: auto;
  }

  .border-end {
    border-end: none !important;
    border-bottom: 1px solid #dee2e6;
    padding: 10px 0;
  }

  .form-wrapper.attach-with-footer form {
    padding-bottom: 0;
  }

  .inner-banner-sec .contentbox.is-medium {
    max-width: 100%;
  }

  .inner-banner-sec .contentbox {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .careers-list-sec .mainbox {
    background: white;
    border-radius: 20px;

    .contentbox {
      padding: 25px 25px 0;
    }

    .btn-wrapper {
      transform: unset;
      padding: 25px 25px 30px;
    }

    .career-tags-list {
      max-width: 100%;

      span {
        padding: 8px 16px;
      }
    }
  }

  .form-cta-with-img-sec {
    margin-bottom: 0;
    padding-bottom: 40px;
  }

  .footer-sec {
    padding-top: 50px;
    background-color: white;

    .footer-wrapper {
      padding: 50px 0;
    }
  }

}

@media(max-width:767px) {
  .sec-title.one-row {
    flex-direction: column;
    gap: 20px;
  }

  .insight-detail-sec .contentbox {
    max-width: 100%;
    margin-top: 30px;
  }

  .inner-banner-sec {
    margin-bottom: 40px;
  }

  .careers-list-sec {
    padding-top: 60px !important;
    background: var(--theme-secondary-color);
  }

}

@media(max-width:600px) {
  .sec-padding {
    padding: 60px 0;

    &.\--large {
      padding: 60px 0;
    }

    &.\--xlarge {
      padding: 80px 0;
    }

    &.\--xxlarge {
      padding: 100px 0;
    }
  }

}