/* Insights Section */
.tab-links-wrapper {
    margin-bottom: 40px;
}

.insights-sec {
    .custom-space {
        margin-left: -32px;
        margin-bottom: -30px;

        .mainbox {
            margin-left: 32px;
        }
    }

    .mainbox {
        margin-bottom: 30px;

        .imgbox {
            aspect-ratio: 1/0.75;
            overflow: hidden;
            border-radius: 16px;
            margin-bottom: 15px;

            img {
                transition: 0.4s all;
            }
        }

        .contentbox {
            .meta-wrapper {
                margin-bottom: 10px;
            }

            .blog-cat {
                color: #2858AB;
                font-weight: 600;
            }

            .blog-title {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                /* Limit to 3 lines */
                overflow: hidden;
                margin-bottom: 15px;
            }
        }

        &:hover {
            .imgbox {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
}


/* Insight Details section */
.insight-detail-sec {
    .main-img {
        -webkit-mask-image: url('/assets/images/insight-detail-img-shape.svg');
        mask-image: url('/assets/images/insight-detail-img-shape.svg');
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
    }

    .main-img-wrapper {
        aspect-ratio: 1 / 0.553;
    }

    .social-links {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 25px 0;

        span {
            font-size: 12px;
            text-transform: uppercase;
            color: var(--theme-primary-color);
            font-weight: 500;
        }

        ul {
            display: flex;
            align-items: center;
            list-style: none;
            margin: 0;
            padding: 0;
            gap: 10px;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 26px;
                height: 26px;
                background-color: var(--theme-text-color);
                border-radius: 5px;
                transition: 0.4s all;

                &:hover {
                    background-color: var(--theme-primary-color);
                }
            }
        }
    }

    .contentbox {
        max-width: 62%;
        margin-top: -60px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: bold;
        }

        .content {
            text-align: justify;
        }
    }
}



/* Form CTA Section */
.form-cta-sec {
    .contentbox {
        &.\--medium {
            max-width: calc(100% - 30px);
        }
    }

}


/* Form CTa With Image Section */
.form-cta-with-img-sec {
    margin-bottom: -90px;
    position: relative;
    z-index: 1;

    .imgbox {
        aspect-ratio: 1 / 0.983;
        height: 100%;
    }


    .contactformshape {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &.left-img {
        background: unset;

        .imgbox {
            top: 9.5%;
            position: relative;
            border-radius: 25px;
            overflow: hidden;
        }

        .contactformshape {
            display: block;
        }

        .form-wrapper {
            margin-left: auto;
            z-index: 1;
            position: relative;

            &.attach-with-footer {
                padding-top: 120px;

                form {
                    padding-bottom: 0;
                }
            }
        }
    }
}


/* Inner Banner Section */
.inner-banner-sec {
    margin-bottom: -50px;

    .has-top-space {
        padding-top: 60px;
    }

    .contentbox {
        &.is-medium {
            max-width: calc(100% - 50px);
        }

        h2 {
            margin-bottom: 20px;
        }

        .content {
            margin-bottom: 30px;
        }
    }

    .imgbox {
        aspect-ratio: 1/0.978;

        .fit-img {
            -webkit-mask-image: url('/assets/images/inner-banner-shape.svg');
            mask-image: url('/assets/images/inner-banner-shape.svg');
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%;
        }
    }
}



/* Careers Section */
.careers-list-sec {
    position: relative;
    margin-bottom: 40px;
    padding-top: 160px !important;

    .careersshape {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .container {
        position: relative;
        z-index: 1;
    }

    .row {
        margin-left: -32px;
        margin-bottom: -30px;
    }

    .mainbox {
        position: relative;
        margin-left: 32px;
        margin-bottom: 30px;

        .cardshape {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .contentbox {
            position: relative;
            z-index: 1;
            padding: 40px 40px 0;

            .career-title {
                margin-bottom: 10px;
            }

            .content {
                margin-bottom: 20px;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                /* Limit to 3 lines */
                overflow: hidden;

                p {
                    margin-bottom: 0;
                }
            }
        }

        .career-tags-list {
            display: flex;
            flex-flow: wrap;
            gap: 8px;
            max-width: 60%;

            span {
                font-size: 12px;
                text-transform: uppercase;
                border-radius: 6px;
                border: 1px solid #9F9F9F;
                background: rgba(159, 159, 159, 0.17);
                padding: 10px 18px;
            }
        }

        .btn-wrapper {
            transform: translateY(-10px);
        }
    }
}


/* Career Detail Section */
.career-detail-sec {
    .career-details-wrapper {
        .career-detailbox {
            padding: 45px;
            background-color: var(--theme-secondary-color);
            border-radius: 16px;
            margin-bottom: 15px;

            .cd-title {
                margin-bottom: 20px;
                /* font-family: var(--theme-font-primary); */
            }

            .content {
                text-align: justify;

                p {
                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                ul,
                ol {
                    padding-left: 15px;
                    margin-bottom: 0;

                    li {
                        margin-bottom: 5px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .btn-wrapper {
                margin-top: 30px;
            }
        }
    }

    .career-sidebar {
        max-width: calc(100% - 100px);
        margin-left: auto;
        margin-top: 50px;
        position: sticky;
        top: 20px;

        .career-sidebar-title {
            border-bottom: 1px solid #D4D4D4;
            margin-bottom: 25px;
            padding-bottom: 25px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            h5 {
                margin-bottom: 5px;
            }

            li {
                border-bottom: 1px solid #D4D4D4;
                margin-bottom: 25px;
                padding-bottom: 25px;
            }
        }
    }
}




/* About Smart Card Section */
.about-smartcard-sec {
    padding-top: 160px !important;
    position: relative;
    background-color: unset;
    margin-bottom: 20px;

    .aboutshape {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


/* Img With Content Section */

.img-with-content-sec {

    &.left-img-with-content-sec {
        .contentbox {
            margin-left: auto;
        }
    }

    &.is-footer {
        margin-bottom: -105px;
    }

    .imgbox {
        overflow: hidden;
        aspect-ratio: 1/0.978;

        &.has-border-radius {
            border-radius: 25px;
        }
    }

    .contentbox {
        max-width: calc(100% - 50px);

        .butn {
            margin-top: 20px;
        }
    }
}


/* Mortgage Page Section */
.mortgage-calc-sec {
    padding-top: 160px !important;
    position: relative;
    background-color: unset;

    .mortgageshape {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .mortgage-form {
        label {
            color: var(--theme-primary-color);
            margin-bottom: 10px;
        }

        .input-wrapper {
            position: relative;

            input {
                padding: 12px 14px;
                width: 100%;
                border-radius: 6px;
                border: 0.5px solid #000;
                transition: 0.4s all;
                outline: none;

                &:hover,
                &:focus,
                &:active {
                    border-color: #2858AB;
                }
            }

            span {
                position: absolute;
                top: 13px;
                right: 18px;
                color: #2858AB;
                font-weight: 500;
                position: absolute;
                background: white;
                z-index: 1;
            }
        }

    }

    .mortgage-bottom-box {
        .result-title {
            color: var(--theme-primary-color);
            margin-bottom: 10px;
        }

        .result-value {
            color: #2858AB;
            font-family: var(--theme-font-primary);
        }
    }
}



/* FAQs Section */
.faqs-sec {

    .accordion-main {
        border-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        background: #F5F5F5;
        margin-bottom: 20px;

        &.active {
            .accordion-answer {
                max-height: 500px;
            }

            .accordion-btn {
                &::before {
                    content: url("data:image/svg+xml,%3Csvg width='18px' height='18px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 12L18 12' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                }
            }
        }
    }

    .accordion-question {
        padding: 30px 25px 25px;
        position: relative;
        cursor: pointer;

        h6 {
            max-width: calc(100% - 40px);
        }
    }

    .accordion-btn {
        position: absolute;
        right: 25px;
        top: 19px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: var(--theme-white);
        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            content: url("data:image/svg+xml,%3Csvg width='18px' height='18px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 12H20M12 4V20' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            display: inline-block;
            line-height: 1;
            transition: 0.4s all;

        }
    }

    .accordion-answer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.6s ease;

        .content {
            padding: 0 25px 25px;
        }

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}



/* Property Management Banner section */
.property-management-sec {

    &.has-shape {
        margin-bottom: -60px;
    }

    .main-img {
        -webkit-mask-image: url('/assets/images/property-management-banner-shape.png');
        mask-image: url('/assets/images/property-management-banner-shape.png');
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
    }
}


/* Img CTA section */
.img-cta-sec {
    position: relative;
    aspect-ratio: 1/0.5625;

    .contentbox {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;

        .content-wrapper {
            max-width: 75%;
            margin: 0 auto;
            border-radius: 27px;
            background: rgba(255, 255, 255, 0.80);
            backdrop-filter: blur(2.5px);
            padding: 70px 100px;

            .cta-title {
                margin-bottom: 15px;
            }

            .separator {
                display: block;
                margin: 0 auto 15px;
                width: 55px;
                height: 1px;
                background-color: var(--theme-black);

            }

            .content {
                margin-bottom: 30px;
            }

        }
    }
}


/* Content Section */
.pm-content-section {
    position: relative;
    background-color: transparent;
    padding: 160px 0 150px;

    #shape-circle {
        display: none;
    }

    svg#shape-s {
        top: 50%;
        left: -4%;
    }

    svg#shape-tay {
        transform: translateY(-38%);
    }

    .csbgshape {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


/* Img Content CTA Section */
.img-cta-cards-sec {
    .mainbox {
        .imgbox {
            overflow: hidden;
            aspect-ratio: 1/0.746;
            border-radius: 12px;
            margin-bottom: 15px;
        }

        .contentbox {
            h5 {
                margin-bottom: 15px;
            }

            .content {
                margin-bottom: 30px;

                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}


/* Counter Section */
.counter-sec {
    .contentbox {
        .counter-wrapper {
            font-size: 100px;
            color: var(--theme-primary-color);
            line-height: 1;
        }

        .separator {
            width: 100%;
            height: 1px;
            display: block;
            background-color: var(--border-color);
            margin: 20px 0;
        }

        .content {
            font-size: 20px;
            font-weight: 500;
            color: var(--theme-primary-color);
        }
    }
}



/* Img With Content Section */

.pm-img-with-content-sec {

    &.has-only-list-title {
        ul {
            li {
                text-transform: uppercase;
                font-size: 18px;
                margin-bottom: 30px;
                color: var(--theme-primary-color);
                font-weight: 500;
            }
        }
    }

    &.pm-left-img-with-content-sec {

        .imgbox {
            overflow: hidden;
            aspect-ratio: 1/0.978;
            display: flex;
            align-items: center;
            justify-content: center;

            .main-img {
                -webkit-mask-image: unset;
                mask-image: unset;
                border-radius: 26px;
                box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.15);
                aspect-ratio: 1/0.676;

                z-index: 1;
                position: relative;
                width: auto;
                height: auto;
                width: 100%;
                max-width: 70%;
            }
        }

        .contentbox {
            margin-left: auto;

            ul {
                li {
                    &:before {
                        left: unset;
                        right: -60px;
                    }

                    &::after {
                        right: -100%;
                        left: unset;
                    }
                }
            }
        }
    }

    &.is-footer {
        margin-bottom: -105px;
    }

    .imgbox {
        overflow: hidden;
        aspect-ratio: 1/1.147;
        position: relative;

        .main-img {
            -webkit-mask-image: url('/assets/images/pm-right-img-shape.png');
            mask-image: url('/assets/images/pm-right-img-shape.png');
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%;
        }

        .leftshapeimg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &.has-border-radius {
            border-radius: 25px;
        }
    }

    .contentbox {
        max-width: calc(100% - 50px);

        h2 {
            margin-bottom: 30px;
        }

        .butn {
            margin-top: 20px;
        }

        ul {
            counter-reset: my-counter;
            list-style: none;
            padding: 0;

            li {
                counter-increment: my-counter;
                position: relative;
                margin-bottom: 25px;

                h6 {
                    text-transform: uppercase;
                    font-weight: bold;
                }

                &::before {
                    content: counter(my-counter, decimal-leading-zero);
                    color: #999999;
                    /* margin-right: 8px; */
                    font-weight: bold;
                    position: absolute;
                    top: 10px;
                    left: -60px;
                    width: 35px;
                    height: 35px;
                    border: 1px solid;
                    display: block;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    font-size: 14px;
                    background-color: var(--theme-secondary-color);
                    z-index: 1;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 26px;
                    left: 0;
                    width: calc(100% - 50px);
                    height: 1px;
                    background-color: #999999;
                    left: -100%;
                    z-index: 0;
                    pointer-events: none;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

    }
}



/* Before After Section */
.before-after-sec {
    margin-top: -3%;

    .row {
        margin-left: -15px;
    }

    .imgbox {
        overflow: hidden;
        aspect-ratio: 1/0.78;
        margin-left: 15px;
        position: relative;
    }

    .main-img {
        -webkit-mask-image: url('/assets/images/before-shape-img.png');
        mask-image: url('/assets/images/before-shape-img.png');
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
    }


    .after-img {
        margin-top: 8%;

        .ba-badge {
            top: 4%;
            right: unset;
            left: 40px;
        }

        .main-img {
            -webkit-mask-image: url('/assets/images/after-shape-img.png');
            mask-image: url('/assets/images/after-shape-img.png');
        }
    }

    .ba-badge {
        z-index: 1;
        position: absolute;
        top: 0;
        right: 40px;
        top: 14%;
        padding: 10px 50px;
        text-align: center;
        border-radius: 6px;
        background: rgba(255, 255, 255, 0.60);
        backdrop-filter: blur(5px);
        text-transform: uppercase;
        font-weight: 500;
        color: var(--theme-primary-color);
    }


}



/* contact Us Banner Section */
.contact-us-banner-sec {
    .contentbox {
        h2 {
            margin-bottom: 30px;
        }
    }

    ul {
        padding: 0;
        list-style: none;
        margin-bottom: 0;

        li {
            margin-bottom: 40px;
            max-width: 55%;

            &:last-child {
                margin-bottom: 0;
            }

            h6 {
                margin-bottom: 10px;
            }

            a {
                text-decoration: underline;
                font-weight: 400;
            }
        }
    }
}